*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 700px;
    background-color: #04896f69;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.country {
    width: 200px;
    height: 340px;
    background-color: #627bdd;
    border-radius: 4px;
    border: 2px solid black;
    display: block;
    margin: 10px;
    padding: 10px;
}